@font-face {
    font-family: 'Cardo';
    src: url("../cardo/cardo-bold.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Cardo';
    src: url("../cardo/cardo-italic.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Cardo';
    src: url("../cardo/cardo-regular.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "header header2 header3 header4"
    "main main2 main3 main4"
    "footer footer2 footer3 footer4";
    font-family: 'Cardo';
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2, minmax(200px,1fr));
    grid-template-rows: 65% auto;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: last;
    grid-row-start: 1;
    grid-row-end: 2;
}

.headerDiv {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

nav {
    grid-column-start: 1;
    grid-column-end: last;
    width: 60% ;
    margin: auto;
    margin-top: 3%;
    margin-right: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

nav. a {
    font-weight: bold;
    color: white;

}

main {
    max-width: 90%;
    grid-column-start: 1;
    grid-column-end: last;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: auto;
    margin-top: -5%;
}

footer {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: last;
    grid-row-start: 4;
    grid-row-end: last;
}

.logo {
    object-fit: cover;
    margin:auto;
}

.headerTitle {
    grid-row-start: -3;
    font-size: 3em;
    max-width: 60%;
    color:  hsl(212, 86%, 34%);
    margin: auto;
    margin-left: 26%;
}

h2 {
    font-size: 2em;
    color:  hsl(212, 86%, 34%);
    margin-left: 2%;
}

.instructions {
    color:  hsl(212, 86%, 34%);   
    font-size: 1.5em;
    padding: 35px;
}

.form-hautsDeFrance {
    display: grid;
    grid-template-columns: repeat(auto-fill, 2, minmax(0,1fr));
    margin: auto;
    padding: 5%;
    font-size: large;
    color:  hsl(212, 86%, 34%);
    border:  solid 2px hsl(212, 86%, 34%);
    border-radius: 2%;
}

.formcolumns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#firstformcolumn {
    grid-column-start: 1;
    grid-column-end: 1;

}

#secondformcolumn {
    grid-column-start: 2;
}

#formlastrow {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

label {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family:'Roboto', sans-serif;
}

input {
    width: 40%;
    height: 40px;
    border-style: hidden;
    border-radius: inherit;
    padding: 5px;
    border:  solid 1px hsl(212, 86%, 34%);
    border-radius: 3%;
}

select {
    width: 41.3%;
    height: 60px;
    font-family:'Roboto', sans-serif;
    border:  solid 1px hsl(212, 86%, 34%);
    border-radius: 3%;
}

.merci {
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.checkTechno {
    display: grid;
    grid-template-columns: repeat( 3fr minmax(200px, auto));
    margin-top: 10%;
    /*display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 10%;
    width: 5%;
    height: 5%;*/
}

.technologies {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 10%;
}

.cv {
    margin-top: 10%;
}

.send {
    background-color: #1078ef;
    border-radius: 7%;
    color: white;
    width: 125px ;
    height: 60px;
    font-size: large;
    margin-left: 75%;
    margin-top: 10%;
    margin-bottom: 2%;
}

[type="radio"] {
    border: 5px solid hsl(212, 86%, 34%);
}

[type="submit"] {
    border: none;
}